body{
	font-size: 18px;
	color: #fff;
	background-color: #FFD215;
	font-family: 'Oxygen', sans-serif;
}

/** HEADR **/
#header-nav {
	background: rgba(0,0,0,0.1);
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}
#logo-img{
	background: url('../img/logo-white.png') no-repeat;
	width: 255px;
	height: 60px;
	margin: 10px 15px 5px 0;
}
.navbar-brand{
	padding: 0;
	height: auto;
}
.navbar-brand a h1{
	color: #fff;
	font-size: 1em;
	text-align: right;
	margin: 0 15px 15px 0;
}
.navbar-brand a:hover , .navbar-brand a:focus{
	text-decoration: none;
}
#nav-list a{
	color: #fff;
}