body{
	font-size: 18px;
	color: #fff;
	background-color: #FFD215;
	font-family: 'Oxygen', sans-serif;
}

/** HEADR **/
#header-nav {
	background: rgba(0,0,0,0.1);
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}
#logo-img{
	background: url('../img/logo-white.png') no-repeat;
	width: 255px;
	height: 60px;
	margin: 10px 15px 5px 0;
}
.navbar-brand{
	padding: 0;
	height: auto;
}
.navbar-brand a h1{
	color: #fff;
	font-size: 1em;
	text-align: right;
	margin: 0 15px 15px 0;
}
.navbar-brand a:hover , .navbar-brand a:focus{
	text-decoration: none;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: #fff;
	text-align: center;
}
#nav-list a:hover{
	background: rgba(0,0,0,0.1);
}
#nav-list a span{
	font-size: 1.8em;
}
#phone{
	margin-top: 5px;
}
#phone a{ /* phone number */
	text-align: right;
	padding-bottom: 0;
}
#phone div{ /* order now */
	text-align: right;
	padding-right: 15px;
}
.navbar-header button.navbar-toggle , .navbar-header .icon-bar {
	border:1px solid #fff;
}
.navbar-header button.navbar-toggle:hover {
	background-color: rgba(0,0,0,0.1);
}
/*END HEADER*/

@media (min-width: 1200px){
	
}